<nav class="nav-bar">
  <ul>
    <li class="login-link"><a href="/auth/login">Login</a></li>
    <li class="signup-link"><a href="/auth/register">Sign up</a></li>
    <!-- <li class="logout-link"><a href="/logout">Logout</a></li> -->
  </ul>
</nav>
