<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head') %>
  <body>
    <%-include('./partials/nav') %>
    <form action="/auth/register" method="POST">
      <h1>Sign up</h1>
      <div class="input-field">
        <input type="email" id="email" name="email" placeholder="Your email" />
      </div>
      <div class="input-field">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Your username"
        />
      </div>
      <div class="input-field">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Your password..."
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
